<!doctype html>
<html lang="en">
  <head>
    <title>Deft</title>
  </head>
  <body>
    <h1>Deft Grounding Assistant</h1>
    <h2>Ground Shortform</h2>
    <form method="POST" action = {{ url_for('ground.load_longforms') }} >
      <p>
	Shortform: <input name="shortform" type="text">
	Cutoff: <input name="cutoff" type="text">
	<input type="submit" value="submit">
      </p>
    </form>
    <h2>Fix groundings</h1>
    <form method="POST" action = {{ url_for('ground.fix') }} >
      <p>
	Model Name: <input name="modelname" type="text">
	<input type="submit" value="submit2">
      </p>
    </form>
   </body>
</html>

