<!doctype html>
<html lang="en">
  <head>
    <title>Adeft</title>
  </head>
  <body>
    <h1><a href="{{ url_for('main') }}">Adeft Grounding Assistant</a></h1>
    <p>
	{{ message }}
    </p>
  </body>
</html>
